.{

}
/*  */
nav{
     display: block;
     display:flex;
     justify-content: center;
}

nav >  li, div{
border: solid 1px black;
border-radius: 300px;
width: 200px;
height: 50px;

}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-around;
    text-align: center;
}



.contenedor{
    display:flex;
    justify-content: flex-end;
}

nav div{
    margin-left: auto;
}